* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url(/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    backdrop-filter: blur(4px);
    /* background-color: rgb(71, 99, 62);*/
}

#blur.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.6);
    backdrop-filter: blur(10px);
    top: 7vh;
    z-index: 0;
}


/*Header%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5*/

#header-nav a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease-in;
}

#header-nav li:hover {
    opacity: 0.8;
    background-color: rgb(77, 52, 36);
}

#logo:hover {
    opacity: 0.7;
}

#header-nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 7vh;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
}

.nav-list li {
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 1rem;
    background: rgb(5, 5, 5);
}

#logo {
    height: 100%;
    transition: ease-in 0.5s;
    display: flex;
    background-color: rgb(0, 0, 0);
    transition: 0.1s ease-in;
}

#logo h2 {
    align-self: center;
    font-size: medium;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(245, 245, 245);
}

#logo:hover {
    opacity: 0.7;
}

#borda {}


/*headerOptions%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%5*/

#header-options {
    position: absolute;
    display: none;
    width: 100%;
    transition: 0.5s;
    z-index: 199;
}

#header-options nav {
    border-top: 10px solid rgb(255, 255, 255);
}

#header-options nav li {
    position: relative;
    text-transform: uppercase;
    padding: 0.5rem;
    justify-content: space-around;
    background: rgb(8, 8, 8);
    border-bottom: 0.1rem solid rgb(31, 30, 30);
    animation: ease-in 0.1s;
    animation-name: appear;
    display: none;
}

#header-options nav a {
    text-decoration: none;
    color: #fff;
}

#header-options nav li:hover {
    background-color: rgb(82, 82, 82);
    opacity: 0.7;
    
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*MainPage Content========================================================*/

#main-block {
    background-color: rgb(255, 255, 255);
}

#main-page {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    position: relative;
    width: 30%;
    opacity: 0.9;
    z-index: -2;
}

#main-page h2 {
    background-color: rgb(255, 255, 255);
    border: 0.1rem solid rgb(107, 102, 102);
    padding: 1rem;
}

#main-page h3 {
    background-color: rgb(255, 255, 255);
}

#main-page button {
    background-color: rgb(241, 241, 241);
    transform: translateY(-0.2rem);
    padding: 2rem;
    margin-top: 10px;
}

#main-page button:hover {
    opacity: 0.7;
}


/*Register Section=-================================== da pra usar o transform y e o z index*/

#register-section {
    text-align: center;
    width: 40%;

    margin-left: auto;
    margin-right: auto;
    border: 0.2rem solid rgba(222, 184, 135, 0.678);
    background-color: rgb(240, 240, 202);
    position: relative;
    
    z-index: 1;
    display: none;
}

#register-section label {
    display: inline;
    font-family: sans-serif;
}

#register-section input:focus {
    outline: thin;
}

#registerForm {}

input {
    padding: 0.5rem;
}

.input label {}

.input input {
    border: 0.1rem solid #000;
}

#formBtn {
    padding: 0.2rem;
}


/*Login-section ========================================================*/

#login-section {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    background: rgba(216, 203, 203, 0.438);
    display: none;
    overflow: auto;
}


/*USERS SECTIONS =================================*/

#user-section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    width: 25%;
    background: rgba(252, 248, 248, 0.6);
    border: 0.2rem solid black;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

#user-section th {
    border-bottom: 0.1rem solid black;
}

#user-section td:hover {
    opacity: 0.7;
}